<h2>Edit</h2>
<form action="profile-band/{{band.id}}" method="POST">
  <input type="text" name="name" value="{{band.name}}">
  <input type="text" name="style" value="{{band.style}}">
  <input type="text" name="lat" value="">
  <input type="text" name="lng" value="">
  <button type="submit">update</button>
</form>