<h2>SignUp</h2>
<form action="/signup-band" method="POST">
  <label>Name</label>
  <input type="text" name="name">
  <label>Password</label>
  <input type="password" name="password">
  <label>Email</label>
  <input type="email" name="contact">
  <button type="submit">Send</button>
</form>